<!-- LOGIN PAGE FIXED UI -->
<div>

    <h2>Login Portal</h2>

    <div class="message">
        {{ data.message }}
    </div>

    <div ng-if="data.user.name === undefined">

        <h3>Login</h3>
        <input type="text" placeholder="Username" ng-model="data.login.name"/>
        <br><br>

        <input type="password" placeholder="Password" ng-model="data.login.password"/>
        <br><br>

        <button ng-click="login();">Login</button>

        <hr>

        <h3>Register</h3>

        <input type="text" placeholder="Name" ng-model="data.register.name"/>
        <br><br>

        <input type="email" placeholder="Email" ng-model="data.register.email"/>
        <br><br>

        <input type="password" placeholder="Password" ng-model="data.register.password"/>
        <br><br>

        <input type="password" placeholder="Confirm Password" ng-model="data.register.password2"/>
        <br><br>

        <button ng-click="register();">Register</button>

    </div>

</div>
